<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Einradteam Oberberg</title>
  <meta name="description" content="Dies ist die Seite des Einradteams Oberberg für die Unicon 21 in den USA.">
  <meta name="theme-color" content="#330000">
  <meta name="generator" content="{{eleventy.generator}}">
  {% lightningcss "/assets/css/main.css" %}
</head>
<body>
  {% include "../partials/header.njk" %}
  <main class="content">
    {{content | safe}}
  </main>
  {% include "../partials/footer.njk" %}
</body>
</html>