<footer>
  <div class="content">
    <h2>Unterstützt durch</h2>
    <div class="sponsor-list">
      {% for sponsor in settings.sponsors %}
        <a href="{{sponsor.url}}" title="{{sponsor.name}}">
         {% image sponsor.logo, sponsor.name%}
        </a>
      {% endfor %}
    </div>
  </div>
</footer>
