<header>
  {% image settings.headerImage, "Team Oberberg", "100vw", false %}

  {% if isPreview %}
    <div class="preview">Vorschau!</div>
  {% endif %}

  <div class="content">
    <div class="card">
      <h1>WM-Blog Unicon 21</h1>
      <h2>Team Oberberg</h2>
    </div>
  </div>
</header>
<aside>
  <div class="content">
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        activeKey: eleventyNavigation.key or eleventyNavigation.parent,
        activeAnchorClass: "current"
      }) | safe }}
      {% if settings.teamInstagram %}
      <a href="https://instagram.com/{{settings.teamInstagram}}" title="Instagram" class="instagram">{% image "assets/img/logos/Instagram_Glyph_Gradient.png", "Instagram Logo", "3rem"%}</a>
      {% endif %}
    </nav>
  </div>
</aside>
